# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
**/node_modules/  # Asegura que se ignoren todas las instancias de node_modules en subdirectorios

# Build outputs
dist
dist-ssr
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env files
.env*.local

# Vercel
.vercel

# Others
/.pnp
.pnp.js
/coverage
*.tsbuildinfo
